html  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fbfbfd;
    background-image: url(/static/images/startup_shap.png);
    background-position: top;
    background-repeat: repeat-x;
}

body {
    /*background-blend-mode: overlay;*/
    /*background-image: url(/static/images/startup_shap.png);*/
    /*background-repeat: repeat-x;*/
    /*background-position: top;*/
    background-color: rgba(0,0,0,0);
}
body::-webkit-scrollbar {
    display: none !important;
}
.carousel-indicators .active {
    background-color: #ff501f;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-indicators li {
    height: 0.2rem;
}

.banner-item {
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
}

.shadow {
    border-radius: .5rem;
    display: block;
    -webkit-box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.display-5 {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.notice-icon {
    margin-left: 5px;
    width: 36px !important;
    height: 36px !important;
}
.bold {
    font-weight: 500;
}

.color-primary {
    color: #ff501f !important;
}

.house {
    background-image: url(../images/house.png);
    background-attachment: initial;
}

.service-container {
    background-color: #ffffff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    min-height: calc(100vh - 420px);
    padding-left: 18px;
    padding-right: 18px;
}
.phone-call {
    background-color: white;
    position: fixed;
    width: 70px;
    height: 52px;
    border-radius: 30px 0px 0px 30px;
    top: 160px;
    right: -1px;
    padding: 5px;
}