
body::-webkit-scrollbar {
    display: none !important;
}
body {
    background-color: rgba(232, 233, 232, 0.56);
    /*background-image: linear-gradient(180deg,#ec454f, rgba(255, 74, 137, 0.25));*/
    /*background-repeat: no-repeat;*/
    /*background-image: -webkit-gradient(linear,left top,left bottom,from(#f44881),to(#ec454f));*/
}

.carousel-indicators .active {
    background-color: #ff501f;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-indicators li {
    height: 0.2rem;
}

.banner-item {
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
}

.shadow {
    box-shadow: 0px 0px 6px 0px rgba(255,255,250,0.49);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(255,255,250,0.49);
    -moz-box-shadow: 0px 0px 6px 0px rgba(255,255,250,0.49);
}

.display-5 {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.notice-icon {
    margin-left: 5px;
    width: 36px !important;
    height: 36px !important;
}
.bold {
    font-weight: 500;
}

.color-primary {
    color: #ff501f !important;
}

.house {
    background-image: url(../images/house.png);
    background-attachment: initial;
}

.service-container {
    width: 100%;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
    min-height: calc(100vh - 450px);
}
.phone-call {
    background-color: white;
    position: fixed;
    width: 52px;
    height: 55px;
    border-radius: 0px 0px 30px 30px;
    top: -1px;
    right: 55px;
    padding: 5px;
}